<div class="zakaz-service container">
 <div class="zakaz-service__title title-section">
     <span class="title-form">Заказать сервис</span>
     <div class="zakaz-service__subtitle title-bg">
         Заказать сервис
     </div>
     <div class="zakaz-service__form">
         <form name="service-zakaz" method="" id="service-zakaz">
             <div class="zakaz-service__form-group">
                 <div class="form-item">
                     <label for="name">Имя</label>
                     <input name="name" id="name" type="text" placeholder="Введите имя">
                 </div>
                 <div class="form-item">
                     <label for="email">Email</label>
                     <input name="email" id="email" type="email" placeholder="Введите email">
                 </div>
                 <div class="form-item">
                     <label for="phone">Телефон</label>
                     <input name="phone" id="phone" type="tel" placeholder="Введите номер телефона">
                 </div>
                 <div class="form-item">
                     <label for="name">Город</label>
                     <input name="city" id="city" type="text" placeholder="Введите название города">
                 </div>
             </div>
             <div class="zakaz-service__form-group">
                 <div class="form-item">
                     <label for="type">Имя</label>
                     <select name="type" id="type">
                         <options disabled>Выберите тип услуги</options>
                         <option value="Установка оборудования">Установка оборудования</option>
                         <option value="Пункт 2">Пункт 2к</option>
                         <option value="Пункт 3">Пункт 3</option>
                     </select>
                 </div>
                 <div class="form-item">
                     <label for="message">Сообщение</label>
                     <textarea name="message" id="message" placeholder="Введите сообщение"></textarea>
                 </div>
                 <button class="form-item-btn" type="submit">Отправить</button>
             </div>

         </form>
     </div>
 </div>
</div>