<div class="cooperation-about container">
    <div class="cooperation-about__title title-section">
        Сотрудничество
        <div class="cooperation-about__subtitle title-bg">
            Сотрудничество
        </div>
    </div>
    <div class="cooperation-about__container">
        <div class="cooperation-about__sidebar">
            <ul class="cooperation-about__nav">
                <li class="cooperation-about__nav-item">
                    <a href="#corp-about">О компании</a>
                </li>
                <li class="cooperation-about__nav-item">
                    <a href="#corp-conditions">Условия сотрудничества</a>
                </li>
                <li class="cooperation-about__nav-item">
                    <a href="#corp-events">Семинары и события</a>
                </li>
            </ul>
        </div>
        <div class="cooperation-about__content" id="corp-about">

            {{> cooperative-video }}

            {{> cooperation-why }}

            {{> cooperation-brands }}

            {{> cooperation-conditions }}

            {{> cooperation-seminar }}

        </div>
    </div>
</div>