<div class="cooperation-conditions" id="corp-conditions">
    <div class="cooperation-conditions__title">
        Условия
    </div>
    <div class="cooperation-conditions__description">
        Стать торговым партнером нашей компании и получить официальный статус дилера могут только юридические лица.
        Мы открыты, компетентны и рады сотрудничеству с компаниями, желающими развивать свой бизнес,
        сделать его эффективным и прибыльным.
        Для того чтобы стать нашим диллером необходимо заполнить форму с Вашими контактными данными
        ниже. После обработки вашего запроса наши сотрудники оперативно свяжутся с вами, проконсультируют
        по условиям работы, ознакомят с программой скидок и ответят на интересующие вас вопросы.
        Следующим этапом вы заключаете договор с нашей компанией и получаете пароль для доступа в
        клиентский раздел сайта. После регистрации вам откроется доступ к актуальному наличию товаров
        на складе, информации по их поступлению и проводимым акциям.
    </div>
    <div class="cooperation-conditions__brick">
        <div class="cooperation-conditions__brick-item">
            <div class="image">
                <img src="assets/images/brick-1.svg" alt="">
            </div>
            <span>Рост дохода <br>Вашего бизнеса</span>
        </div>
        <div class="cooperation-conditions__brick-item">
            <div class="image">
                <img src="assets/images/brick-2.svg" alt="">
            </div>
            <span>Обучение Вашего <br>персонала</span>
        </div>
        <div class="cooperation-conditions__brick-item">
            <div class="image">
                <img src="assets/images/brick-3.svg" alt="">
            </div>
            <span>Сервисная и техническая <br>поддержка</span>
        </div>
        <div class="cooperation-conditions__brick-item">
            <div class="image">
                <img src="assets/images/brick-4.svg" alt="">
            </div>
            <span>Выгодные цены и <br>гибкая система скидок</span>
        </div>
        <div class="cooperation-conditions__brick-item">
            <div class="image">
                <img src="assets/images/brick-5.svg" alt="">
            </div>
            <span>Экономия на рекламе и <br>собственном сайте</span>
        </div>
    </div>
    <div class="cooperation-conditions__dealer">
        <div class="cooperation-conditions__dealer-header">
            Требования компании к потенциальным дилерам:
        </div>
        <div class="cooperation-conditions__dealer-content">
            <div class="cooperation-conditions__dealer-desc">
                Основным принципом работы с партнерами является сотрудничество на взаимовыгодной основе.
                А именно: развитие компетенции партнеров и использование накопленных знаний и опыта для
                построения долгосрочных отношений. Для этого мы создаем равные условия и индивидуальное
                отношение к каждому диллеру.
            </div>
            <div class="cooperation-conditions__dealer-list">
                <div class="cooperation-conditions__dealer-item">
                    <img src="assets/images/dealer-item-1.svg" alt="">
                    <span>Заключения договора</span>
                </div>
                <div class="cooperation-conditions__dealer-item">
                    <img src="assets/images/dealer-item-2.svg" alt="">
                    <span>Предоставление клиентам всей необходимой информации о продукции</span>
                </div>
                <div class="cooperation-conditions__dealer-item">
                    <img src="assets/images/dealer-item-3.svg" alt="">
                    <span>Соблюдение РРЦ</span>
                </div>
                <div class="cooperation-conditions__dealer-item">
                    <img src="assets/images/dealer-item-4.svg" alt="">
                    <span>Соблюдение сроков оплаты по товару</span>
                </div>
            </div>
        </div>
        <div class="cooperation-conditions__dealer-form">
            <div class="form-title">
                Хотите стать нашим партнером?
            </div>
            <div class="form-subtitle">
                Оставьте свои контакты и наш сотрудник свяжется с Вами в ближайшее время.
            </div>
            <form name="dealer-form" id="dealer-form" method="">
                <input name="name" id="name" type="text" placeholder="Имя">
                <input name="phone" id="phone" type="tel" placeholder="Телефон">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</div>