<div class="cooperation-why">
    <div class="cooperation-why__title">
        Почеум стоит работать с нами?
    </div>
    <div class="about-company__slider swiper-container">
        <div class="about-company__item swiper-wrapper">
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-1.svg" alt="">
                </div>
                <div class="slide-text">
                    Более 20 лет опыта в сегменте Wellness и SPA оборудования
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-2.svg" alt="">
                </div>
                <div class="slide-text">
                    Большой ассортимент качественного оборудования
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-3.svg" alt="">
                </div>
                <div class="slide-text">
                    Персональный
                    менеджер
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-4.svg" alt="">
                </div>
                <div class="slide-text">
                    Собственный
                    сервисный центр
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-5.svg" alt="">
                </div>
                <div class="slide-text">
                    90% продукции в наличий, благодаря собственным складским помещениям
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-6.svg" alt="">
                </div>
                <div class="slide-text">
                    Более 250
                    партнеров-диллеров по Украине
                </div>
            </div>
        </div>
    </div>
</div>