@media all and (min-width: 1697px){
  .about-service{
    overflow: visible!important;
    &__title-bg{
      top: -54px!important;
    }
  }
}
@media all and (max-width: 1440px){
  .main-header{
    .under-navigate.container{
      padding-right: 0;
    }
  }
}
@media all and (max-width: 1400px){
  html{
    font-size: 57.5% !important;
  }
  .about-service{
    &__right-animate{
      top: 55px;
      z-index: -1;
      right: 40px;
    }
    &__left-animate{
      top: 285px;
      left: 40px;
    }
  }
  .main-slider{
    &__slide{
      &:first-child{
        .main-slider__title{
          font-size: 3.8rem;
          line-height: 4.8rem;
        }
      }
    }
  }
}
@media all and (max-width: 1330px){
  .main-header{
    .main-nav{
      &__item{
        min-width: auto;
        padding-left: 10px;
        padding-right: 30px;
        flex: 1;
        position: relative;
        &.marked-item{
          min-width: auto;
        }
      }
      &__item-lnk{
        font-size: 1.4rem;
        position: static;
        &:after{
          right: 6px;
        }
      }
    }
  }
}
@media all and (max-width: 1250px){
  html{
    font-size: 52.5% !important;
  }
  .main-header{
    .main-info__logo{
      display: flex;
      align-items: center;
    }
    .main-info__logo-lnk{
      max-width: 160px;
    }
    &__navigate{
      .main-info{
        &__button-menu{
          display: flex;
          justify-content: space-around;
          .button-menu__item{
            &:first-child{
              margin: auto 10px;
            }
            &:last-child{
              margin: auto 10px auto 0;
            }
          }
        }
        &__feedback{
          margin: 7px 10px;
        }
      }
    }
  }
}
@media all and (max-width: 1200px){
  .about-service{
    .rotating{
      display: none;
    }
  }
  .main-header{
    .under-navigate{
      position: relative;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-top: 10px;
      &__language{
        order: 1;
        a{
          &:first-child{
            padding-left: 0;
          }
        }
      }
      &__item{
        padding: 5px;
      }
      &__costs{
        order: 2;
      }
      &.container{
        padding-right: 260px;
      }

      &__list{
        width: 100%;
        order: 3;
      }
      &__links{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
      }
    }
  }
}
@media all and (max-width: 1150px){
  .about-service{
    &__title-bg{
      font-size: 7rem;
    }
    &__content-item{
      min-height: auto;
    }
  }
  .type-services{
    &__icon{
      margin-top: 30px;
    }
  }
  .main-slider{
    &__slide{
      padding: 20px 20px 15px 20px;
      .main-slider__title{
        font-size: 24vw * $px;
        line-height: 150%;
        padding-right: 30%;
      }
      &:last-child{
        margin-top: 40vw * $px;
      }
      &:first-child{
        padding: 30px;
        .main-slider__title{
          font-size: 38vw * $px;
          line-height: 150%;
        }
      }
    }
    &__buttons{
      left: 70px;
      bottom: 50px;
      a{
        height: 40px;
        width: 170px;
      }
    }
  }
}
@media all and (max-width: 1024px){
  .about-service{
    &__title{
      margin-top: 60px;
    }
  }
  .category{
    padding-top: 60px;
    &__list-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: calc(100% + 20px);
    }
    &__item{
      width: calc(33.3% - 20px);
    }
    &__item-image{
      height: 187vw * $pxmd;
    }
  }
  .about-stage{
    padding-bottom: 60px;
    &__list{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item{
      width: 60%;
    }
  }
  .title-bg{
    display: none;
  }
  .main-header{
    &__mobile-burger{
      display: flex;
      height: 56px;
      width: 56px;
      //border: 1px solid white;
      padding: 5px;
      border-radius: 3px;
      cursor: pointer;
      span{
        height: 2px;
        width: calc(100% - 5px);
        background-color: white;
        margin: 5px 0;
        display: block;
      }
    }
    .under-navigate{
      display: none;
    }
    .main-nav{
      &__list{
        display: none;
      }
    }
    .main-info{
      flex-wrap: wrap;
      &__logo{
        margin: 0 20px 0 40px;
        justify-content: center;
        img{
          max-width: 120px;
        }
      }
      .button-menu{
        display: none;
      }
      &__search{
        order: 0;
        flex: 1;
        padding: 0 20px;
      }
      &__feedback{
        display: none;
      }
      &__recycle {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
  .main-slider{
    &__buttons{
      bottom: 30px;
      a{
        height: 40px;
        width: 154px;
         > span{
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media all and (max-width: 800px){
  .about-stage{
    padding: 0 40px;
    &__item{
      width: 100%;
    }
    &__list{
      padding-left: 0;
    }
    &__clipart{
      display: none;
    }
    &__image{
      padding-right: 0;
    }
    &__title{
      text-align: center;
    }
  }
  .type-services{
    &__list{
      flex-wrap: wrap;
    }
    &__item{
      width: 50%;
    }
    &__icon-cont{
      &:after{
        height: 50%;
        top: auto;
        bottom: 0;
      }
    }
    &__title{
      max-width: 140px;
    }
  }
}
@media all and (max-width: 768px){
  .category{
    &__list-wrapper{
      display: inline-flex;
      flex-wrap: nowrap;
      margin: 30px 0 0 0;
    }
    &__item{
      margin: 0;
    }
    &__item-image{
      height: 114px;
    }
  }
  .about-service{
    padding: 0 40px;
    &__content{
      width: 100%;
    }
    &__tabs{
      width: 100%;
    }
    &__content-item{
      min-height: auto;
    }
  }
  .main-slider{
    overflow: hidden;
    padding-bottom: 40px;
    &__buttons{
      position: static;
      clear: both;
      display: flex;
      margin-top: 30px;
      a{
        width: 50%;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &__list{
      display: flex;
    }
    &__slide{
      width: 100% !important;
      clear: both;
      height: 384vw * $pxmt!important;
      max-height: 384px!important;
      max-width: 100%;
      &:first-child{
        height: 384vw * $pxmt;
        flex-direction: column;
      }
      &:last-child{
        margin-top: 0;
      }
    }
    &__subtitle{
      display: none;
    }
    &__title{
      font-size: 36vw * $pxmt!important;
    }
  }
  .main-header{
    .main-info {
      &__logo{
        order: 1;
        flex: 1;
      }
      &__button-menu{
        order: 3;
      }
      &__recycle{
        order: 2;
      }
      &__search{
        order: 3;
        flex: none;
        padding: 0;
        width: 100%;
      }
    }
  }
  .type-services{
    padding: 0 10%;
    margin-top: -40px;
  }
}