@import "normalize";
@import "default";
@import "fonts";
@import "vars";
@import "animation";
@import "swiper";



html{
    font-size: 62.5%;
    @media all and (max-width: 450px) {
        font-size: 62.5% !important;
    }
}

*{
    box-sizing: border-box;
    outline: 0!important;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: ProximaNova-Regular;
    font-weight: normal;
    line-height: 2.4rem;
}

.container {
    max-width: $container-weight;
    padding: $container-padding;
    margin: auto;
    @media all and (max-width: 500px) {
        padding-left: 20px;
        padding-right: 20px;
    }

}

// Главная страница

@import "main-page/main-page";

// Страница "Карточка диллера"

@import "dealer-cards/dealer-cards";
@import "dealer-cards/dealer-services";
@import "dealer-cards/dealer-projects";
@import "dealer-cards/dealer-sertificates";
@import "dealer-cards/dealer-recall";

// Страница "О нас"

@import "about/about-page";
@import "media";