@import "normalize";
@import "default";
@import "fonts";
@import "vars";
@import "animation";
@import "swiper";
@import "selectric";



html{
    font-size: 62.5%;
    @media all and (max-width: 450px) {
        font-size: 62.5% !important;
    }
}

*{
    box-sizing: border-box;
    outline: 0!important;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: ProximaNova-Regular;
    font-weight: normal;
    line-height: 2.4rem;
}

.container {
    max-width: $container-weight;
    padding: $container-padding;
    margin: auto;
    @media all and (max-width: 500px) {
        padding-left: 20px;
        padding-right: 20px;
    }

}
.breadcrumbs{
    display: flex;
    padding: 0 56px 10px 56px;
    border-bottom: 1px solid #E9E9E9;
    margin-top: -10px;

    &__list{
        display: flex;
    }
    &__item{
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        &:first-child{
            padding: 0;
        }
        span{
            color: $orange-color;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
        a{
            display: flex;
            align-items: center;
            color: $orange-color;
            font-size: 1.4rem;
            line-height: 1.7rem;
            &:after{
                display: block;
                width: 16px;
                height: 16px;
                background-image: url(../images/bread-arrow.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: "";
                margin-left: 20px;
            }
        }
    }
}

// Главная страница

@import "main-page/main-page";
@import "main-page/ceo";
@import "main-page/category-sorted";

// Страница "Карточка диллера"

@import "dealer-cards/dealer-cards";
@import "dealer-cards/dealer-services";
@import "dealer-cards/dealer-projects";
@import "dealer-cards/dealer-sertificates";
@import "dealer-cards/dealer-recall";

// Страница "О нас"

@import "about/about-page";
@import "media";

// Страница категорий

@import "category-page/category-block";
@import "category-page/category-rec";

// Страница товара

@import "single-product/single-product";
@import "single-product/single-cart";
@import "single-product/single-params";

//Страница Сервисного центра

@import "service-center/service-center-desc";
@import "service-center/service-center-list";
@import "service-center/zakaz-service";
