<div class="dealer-service container">
    <div class="dealer-service__title title-section">
        Виды услуг
        <div class="dealer-service__subtitle title-bg">
            Виды услуг
        </div>
    </div>
    <div class="dealer-service__container">
        <div class="dealer-service__header">
            <div class="dealer-service__title-first">
                <span>Направление деятельности</span>
            </div>
            <div class="dealer-service__title-second">
                <span>Виды услуг</span>
            </div>
        </div>
        <div class="dealer-service__item">
            <div class="dealer-service__direct">
                Баня / сауна
            </div>
            <div class="dealer-service__serv">
                <div class="dealer-service__serv-itm">
                    <input id="1_input1" type="radio" name="id1" value="">
                    <label for="1_input1">Продажа оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="1_input2" type="radio" name="id1" value="">
                    <label for="1_input2">Реконструкция</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="1_input3" type="radio" name="id1" value="">
                    <label for="1_input3">Строительство</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="1_input4" type="radio" name="id1" value="">
                    <label for="1_input4">Монтаж оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="1_input5" type="radio" name="id1" value="">
                    <label for="1_input5">Проектирование</span>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="1_input6" type="radio" name="id1" value="">
                    <label for="1_input6">Сервисное обслуживание</label>
                </div>
            </div>
            <div class="dealer-service__item-btn js-dealer-service__item-btn">
                Оставить заявку
            </div>
        </div>
        <div class="dealer-service__item">
            <div class="dealer-service__direct">
                Хаммам
            </div>
            <div class="dealer-service__serv">
                <div class="dealer-service__serv-itm">
                    <input id="2_input1" type="radio" name="id2" value="">
                    <label for="2_input1">Продажа оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="2_input2" type="radio" name="id2" value="">
                    <label for="2_input2">Реконструкция</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="2_input3" type="radio" name="id2" value="">
                    <label for="2_input3">Строительство</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="2_input4" type="radio" name="id2" value="">
                    <label for="2_input4">Монтаж оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="2_input5" type="radio" name="id2" value="">
                    <label for="2_input5">Проектирование</span>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="2_input6" type="radio" name="id2" value="">
                    <label for="2_input6">Сервисное обслуживание</label>
                </div>
            </div>
            <div class="dealer-service__item-btn js-dealer-service__item-btn">
                Оставить заявку
            </div>
        </div>
        <div class="dealer-service__item">
            <div class="dealer-service__direct">
                Соляная комната
            </div>
            <div class="dealer-service__serv">
                <div class="dealer-service__serv-itm">
                    <input id="3_input1" type="radio" name="id3" value="">
                    <label for="3_input1">Продажа оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="3_input2" type="radio" name="id3" value="">
                    <label for="3_input2">Реконструкция</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="3_input3" type="radio" name="id3" value="">
                    <label for="3_input3">Строительство</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="3_input4" type="radio" name="id3" value="">
                    <label for="3_input4">Монтаж оборудования</label>
                </div>
            </div>
            <div class="dealer-service__item-btn js-dealer-service__item-btn">
                Оставить заявку
            </div>
        </div>
        <div class="dealer-service__item">
            <div class="dealer-service__direct">
                Отопительные печи
            </div>
            <div class="dealer-service__serv">
                <div class="dealer-service__serv-itm">
                    <input id="4_input1" type="radio" name="id4" value="">
                    <label for="4_input1">Продажа оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="4_input2" type="radio" name="id4" value="">
                    <label for="4_input2">Реконструкция</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="4_input3" type="radio" name="id4" value="">
                    <label for="4_input3">Строительство</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="4_input4" type="radio" name="id4" value="">
                    <label for="4_input4">Монтаж оборудования</label>
                </div>
            </div>
            <div class="dealer-service__item-btn js-dealer-service__item-btn">
                Оставить заявку
            </div>
        </div>
        <div class="dealer-service__item">
            <div class="dealer-service__direct">
                Твердотопливные котлы
            </div>
            <div class="dealer-service__serv">
                <div class="dealer-service__serv-itm">
                    <input id="5_input1" type="radio" name="id5" value="">
                    <label for="5_input1">Продажа оборудования</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="5_input2" type="radio" name="id5" value="">
                    <label for="5_input2">Реконструкция</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="5_input3" type="radio" name="id5" value="">
                    <label for="5_input3">Строительство</label>
                </div>
                <div class="dealer-service__serv-itm">
                    <input id="5_input4" type="radio" name="id5" value="">
                    <label for="5_input4">Монтаж оборудования</label>
                </div>
            </div>
            <div class="dealer-service__item-btn js-dealer-service__item-btn">
                Оставить заявку
            </div>
        </div>
    </div>
</div>