.category-rec{
  padding-top: 110px;
  @media all and (max-width: 1024px) {
    padding: 0 40px;
    .main-video__image{
      height: 14.6484vw;
    }
  }
  @media all and (max-width: 768px) {
    .main-video__nav-slider{
      display: block;
    }
    .main-video__image{
      height: 15.625vw;
    }
  }
  @media all and (max-width: 600px) {
    .main-video__image{
      height: 23.335vw;
    }
  }
  @media all and (max-width: 500px) {
    padding: 0 17px;
    .main-video__image{
      height: 55.62vw;
    }
    .main-video__sl-content{
      font-size: 16px;
      line-height: 19px;
      padding-right: 20%;
      padding-bottom: 20px;
    }
  }
  @media all and (max-width: 378px) {
    .main-video__sl-content{
      padding-right: 10%;
      padding-bottom: 10px;
    }
  }
  .main-video__content{
    width: 100%;
    margin-top: 0;
    @media all and (max-width: 1024px) {
      padding: 0;
    }
  }
  .main-video__navigation{
    width: 100%;
    margin: -165vw * $px auto 144vw * $px auto;

    @media all and (max-width: 1024px) {
      display: none;
    }
  }
  &__title{
    position: relative;
    z-index: 2;
    margin-left: 50px;
    @media all and (max-width: 1024px) {
      margin-left: 0;
    }
  }
  &__subtitle{
    position: absolute;
    top: -53px;
    left: -5px;
    z-index: -1;
    font-size: 10rem;
    line-height: 12.2rem;
    @media all and (max-width: 1440px) {
      font-size: 100vw * $px;
    }
  }
  &__container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media all and (max-width: 1024px) {
      margin-top: 40px;
    }
    @media all and (max-width: 500px) {
      margin-top: 20px;
    }
  }
  &__image{
    width: 35%;
    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  &__desc{
    width: calc(65% - 60px);
    padding-right: 135px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__tabs{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    &-container{
      .container-item{
        display: none;
        &.active{
          display: block;
          text-align: justify;
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #828282;
        }
        &.container-device{
          margin-top: 70px;
        }
        &-lnk{
          display: flex;
          height: 56px;
          width: 183px;
          background-color: $orange-color;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          line-height: 2.2rem;
          border-radius: 3px;
          cursor: pointer;
          color: white;
          font-family: ProximaNova-Bold;
          filter: drop-shadow(1px 1px 20px rgba(244, 163, 67, 0.5));
          margin: auto;
          margin-top: 50px;
        }
      }
    }
    span{
      font-size: 2rem;
      line-height: 3rem;
      color: #828282;
      transition: color $hover-transition;
      display: block;
    }
    &-item{
      cursor: pointer;
      &:hover{
        span{
          color: $orange-color;
          border-bottom: 1px solid $orange-color;
          font-family: ProximaNova-Bold;
          margin-bottom: -1px;
        }
      }
      &.active{
        span{
          color: $orange-color;
          font-family: ProximaNova-Bold;
          border-bottom: 1px solid $orange-color;
          margin-bottom: -1px;
        }
      }
    }
  }
}