.category-section{
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 90px;
  @media all and (max-width: 1024px) {
    margin-top: 40px;
    padding: 0 40px;
  }
  @media all and (max-width: 500px) {
    padding: 20px 17px;
    margin-top: 0;
  }
  &__title{
    position: relative;
    z-index: 2;
  }
  &__subtitle{
    position: absolute;
    z-index: -1;
    top: -53px;
    left: -5px;
    font-size: 10rem;
    line-height: 12.2rem;
  }
  &__list{
    margin: 30px -10px 30px -10px;
    @media all and (max-width: 400px) {
      margin: 20px 0 0 0;
    }
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__item{
    display: flex;
    flex-direction: column;
    height: 290px;
    width: calc((100% / 4) - 20px);
    margin: 20px 10px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    transition: $hover-transition;
    @media all and (max-width: 900px) {
      height: 220px;
      margin-top: 0;
      width: calc((100% / 3) - 20px);
    }
    @media all and (max-width: 768px) {
      height: 220px;
      margin-top: 0;
      width: calc((100% / 2) - 20px);
    }
    @media all and (max-width: 400px) {
      width: 50%;
      margin: 0;
      height: 45.3125vw;
    }
    &:hover{
      border: 1px solid $orange-color;
    }
  }
  &__img{
    justify-content: center;
    align-items: center;
    padding: 20px;
    @media all and (max-width: 400px) {
      padding: 10px;
    }
    &-item{
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    flex: 1;
  }
  &__content{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
    @media all and (max-width: 400px) {
      font-size: 14px;
      line-height: 17px;
      padding: 5px;
      height: auto;
    }
  }
}