.service-center-desc{
  margin-top: 80px;
  @media all and (max-width: 900px) {
    margin-top: 20px;
    .about-company__wrapper{
      padding: 0;
      .about-company__content{
        margin-top: 0;
      }
      .about-company__desc{
        margin-bottom: 40px;
      }
    }
  }
  &__title{
    position: relative;
    z-index: 2;
    margin-left: 50px;
    margin-bottom: 30px;
    @media all and (max-width: 900px) {
      margin-left: 0;
    }

  }
  &__subtitle{
    position: absolute;
    top: -53px;
    left: -5px;
    z-index: -1;
    font-size: 10rem;
    line-height: 12.2rem;
    @media all and (max-width: 1400px) {
      font-size: 100vw * $px;
      line-height: 122vw * $px;
    }
  }
  .about-company__video{
    margin-top: 0;
  }
}