.zakaz-service{
  padding-top: 40px;
  margin-bottom: 80px;
  @media all and (max-width: 500px) {
    padding: 0;
  }
  &__title{
    position: relative;
    z-index: 2;
    .title-form{
      margin-left: 17px;
      margin-right: 17px;
      font-size: 20px;
      line-height: 24px;
    }
  }
  &__subtitle{
    position: absolute;
    top: -53px;
    left: -5px;
    z-index: -1;
    font-size: 10rem;
    line-height: 12.2rem;
    @media all and (max-width: 1400px) {
      font-size: 100vw * $px;
      line-height: 122vw * $px;
    }
  }
  &__form{
    margin-top: 70px;
    padding: 40px 40px 40px 40px;
    background-color: #33353D;
    border-radius: 10px;
    @media all and (max-width: 500px) {
      padding: 20px 17px;
      margin-top: 20px;
    }
    form{
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 768px) {
        flex-direction: column;
      }
    }
    &-group{
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      @media all and (max-width: 768px) {
        width: 100%;
      }
      .form-item{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        label, {
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: #FFFFFF;
          font-family: ProximaNova-Light;
          font-weight: 100;
          padding-left: 20px;
          margin-bottom: 1rem;
          @media all and (max-width: 500px) {
            padding-left: 17px;
            font-size: 16px;
            line-height: 19px;
          }
        }
        .selectric .label{
          font-family: ProximaNova-Regular;
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 1.9rem;
          display: flex;
          align-items: center;
          margin: 0;
          padding: 2.9rem 2rem;
          @media all and (max-width: 500px) {
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            padding: 28px 10px;
          }
        }
        .selectric{
          .button{
            height: 100%;
            width: 70px;
            &:after{
              background-image: url(../images/select-arrow.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              content: "";
              width: 20px;
              height: 20px;
              border: none;
            }
          }
        }
        .selectric-scroll{
          margin: 0;
          ul{
            margin: 0;
            max-width: 100%;
            li{
              transform: translate(0);
              padding: 1rem 2rem;
              font-family: ProximaNova-Regular;
              font-weight: normal;
              font-size: 1.6rem;
              line-height: 1.9rem;
            }
          }
        }
        input, select, option, textarea{
          font-family: ProximaNova-Regular;
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 1.9rem;
          padding: 2rem;
          box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          border: none;
          @media all and (max-width: 500px) {
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            padding: 20px 10px;
          }
        }
        textarea{
          resize: none;
          height: 16.5rem;
          @media all and (max-width: 500px) {
            height: 158px;
          }
        }
        &-btn{
          width: calc(100% - 184px);
          background-color: $orange-color;
          color: #FFFFFF;
          font-size: 1.8rem;
          line-height: 2.2rem;
          font-family: ProximaNova-Bold;
          border: none;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          filter: drop-shadow(1px 1px 20px rgba(244, 163, 67, 0.5));
          border-radius: 3px;
          @media all and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }

  }
}