<div class="single-params container">
    <div class="single-params__tabs">
        <div class="single-params__tabs-item active" data-select="description">
            <span>Описание</span>
        </div>
        <div class="single-params__tabs-item" data-select="technics">
            <span>Характеристики</span>
        </div>
        <div class="single-params__tabs-item" data-select="reviewers">
            <span>Отзывы</span>
        </div>
        <div class="single-params__tabs-item" data-select="download">
            <span>Загрузить PDF</span>
        </div>
    </div>
    <div class="single-params__content description">
        <div class="single-params__content-item active description">
            "But I must explain to you how all this mistaken idea of denouncing pleasure
            and praising pain was born and I will give you a complete account of the system,
            and expound the actual teachings of the great explorer of the truth, the
            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
            itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again
            is there anyone who loves or pursues or desires to obtain pain of itself, because
            it is pain, but because occasionally circumstances occur in which toil and pain
            can procure him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise, except to obtain some advantage from it?
            But who has any right to find fault with a man who chooses to enjoy a pleasure
            that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        </div>
        <div class="single-params__content-item technics">
            <div class="single-row">
                <div class="single-row__title">
                    Страна
                </div>
                <span></span>
                <div class="single-row__value">
                    Испания
                </div>
            </div>
            <div class="single-row">
                <div class="single-row__title">
                    Монтаж
                </div>
                <span></span>
                <div class="single-row__value">
                    Встраеваемый
                </div>
            </div>
            <div class="single-row">
                <div class="single-row__title">
                    Максимальный расход
                </div>
                <span></span>
                <div class="single-row__value">
                    90 м³/ч
                </div>
            </div>
            <div class="single-row">
                <div class="single-row__title">
                    Потребляемая можность
                </div>
                <span></span>
                <div class="single-row__value">
                    14вт
                </div>
            </div>
            <div class="single-row">
                <div class="single-row__title">
                    Тип
                </div>
                <span></span>
                <div class="single-row__value">
                    Осевой
                </div>
            </div>
        </div>
        <div class="single-params__content-item reviewers">
            Отзывы
            "But I must explain to you how all this mistaken idea of denouncing pleasure
            and praising pain was born and I will give you a complete account of the system,
            and expound the actual teachings of the great explorer of the truth, the
            master-builder of human happiness. No one rejects, dislikes, or avoids pleasure
            itself, because it is pleasure, but because those who do not know how to pursue
            pleasure rationally encounter consequences that are extremely painful. Nor again
            is there anyone who loves or pursues or desires to obtain pain of itself, because
            it is pain, but because occasionally circumstances occur in which toil and pain
            can procure him some great pleasure. To take a trivial example, which of us ever
            undertakes laborious physical exercise, except to obtain some advantage from it?
            But who has any right to find fault with a man who chooses to enjoy a pleasure
            that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
        </div>
        <div class="single-params__content-item download">
            <a href="" download="">Файл 1</a>
            <a href="" download="">Файл 2</a>
            <a href="" download="">Файл 3</a>
            <a href="" download="">Файл 4</a>
        </div>
    </div>
</div>