.dealer-recall{
  padding: 60px 95px 60px 95px;
  &__title{
    position: relative;
    z-index: 2;
  }
  &__subtitle{
    position: absolute;
    left: -5px;
    top: -53px;
    font-size: 10rem;
    line-height: 12rem;
    z-index: -1;
  }
  &__container{
    margin: 0;
  }
  &__item-images{
    margin-top: 20px;
    display: flex;
    img{
      width: 112px;
      height: auto;
      margin-right: 20px;
      border-radius: 10px;
    }
  }
  &__actions{
    display: flex;
    align-items: center;
    margin-top: 20px;
    >div {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      span{
        font-size: 1.6rem;
        line-height: 150%;
        color: $orange-color;
        margin-left: 10px;
      }
    }
  }
  &__item-content{
    margin-top: 20px;
    .description{
      font-family: ProximaNova-Light;
      font-size: 1.6rem;
      line-height: 150%;
    }
    .more{
      display: flex;
      align-items: center;
      margin-top: 10px;
      cursor: pointer;
      span{
        margin-right: 10px;
        color: $orange-color;
      }
      svg{
        transform: rotate(180deg);
      }
    }
  }
  .star-rating{
    &__wrap{
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
    &__ico{
      cursor: pointer;
      &:before{
        content: "";
        background-image: url(../images/star-grey.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        width: 20px;
        height: 20px;
      }
    }
  }
  .star-rating__ico:hover:before,
  .star-rating__ico:hover ~ .b-star-rating__ico:before,
  {
    content: "";
    background-image: url(../images/star-grey.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
  }
  .star-rating__input{
    display: none;
  }
  .star-rating__ico:hover:before,
  .star-rating__ico:hover ~ .star-rating__ico:before,
  .star-rating__input:checked ~ .star-rating__ico:before
  {
    content: "";
    background-image: url(../images/star-orange.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
  }
  &__item-header{
    display: flex;
  }
  &__wrapper{
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
  }
  &__wrapper-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
  }
  &__item{
    background: #FFFFFF;
    border: 1px solid #F4A343;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    .dealer-recall__item-images{
      display: none;
    }
    &:first-child{
      width: 100%;
      .dealer-recall__item-images{
        display: flex;
      }
    }
    &-header{
      display: flex;
      justify-content: space-between;
      .rate__stars{
        display: flex;
        align-items: center;
        &-item{
          svg{
            margin-left: 8px;
            width: 15px;
            height: auto;
          }
          &.active{
            svg{
              path{
                fill: $orange-color;
              }
            }
          }
        }
      }
      .person{
        display: flex;
        align-items: center;
        .photo{
          border-radius: 50%;
        }
        .name-date{
          margin-left: 20px;
          .name{
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #4F4F4F;
            font-family: ProximaNova-Bold;
          }
          .date{
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #828282;
          }
        }
      }
    }
  }
  &__container{
    width: 66%;
  }
  &__form{
    width: calc(34% - 40px);
  }
  &__form-title{
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: ProximaNova-Bold;
    margin-bottom: 20px;
  }
  &-form{
    display: flex;
    flex-direction: column;
    input, textarea, input::placeholder{
      font-family: ProximaNova-Light;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #828282;
      border: none;
    }
    input, textarea{
      background: #FFFFFF;
      box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 20px;
      margin-bottom: 10px;
    }
    textarea{
      min-height: 158px;
      resize: none;
    }
    p{
      font-size: 1.6rem;
      line-height: 1.9rem;
      padding-left: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .star-rating__wrap{
      padding-left: 20px;
      margin-bottom: 20px;
      label{
        margin-right: 8px;
      }
    }
    .dealer-recall__file{
      display: none;
      &-label{
        font-size: 1.6rem;
        line-height: 1.9rem;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: $orange-color;
        margin-bottom: 40px;
        svg{
          margin-right: 10px;
        }
      }
    }
    .submit-form{
      border: 1px solid $orange-color;
      filter: drop-shadow(1px 1px 20px rgba(244, 163, 67, 0.5));
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-family: ProximaNova-Bold;
      border-radius: 3px;
      background-color: $orange-color;
    }
  }
  .button-show-more{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg{
        margin-left: 10px;
        transform: rotate(180deg);
      }
      span{
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $orange-color;
      }
    }
  }
}