.dealer-projects{
  margin-top: 65px;
  &__title{
    position: relative;
    z-index: 2;
    margin-left: 55px;
  }
  &__subtitle{
    position: absolute;
    left: -5px;
    top: -53px;
    z-index: -1;
    font-size: 10rem;
    line-height: 12.2rem;
    @media all and (max-width: 1400px) {
      font-size: 100vw * $px;
      line-height: 122vw * $px;
    }
  }
  &__container{
    margin-top: 66px;
    width: calc(100% - 140px);
  }
  &__image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 210vw * $px;
    border-radius: 10px;
  }
  &__content{
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #828282;
    font-family: ProximaNova-Light;
    margin-top: 20px;
  }
  .services__navigation{
    padding: 0;
    margin: -162px auto 190px auto;
  }
}