.dealer-sertificates {
  position: relative;
  padding-top: 102px;
  @media all and (max-width: 1024px) {
    padding-top: 40px;
  }
  @media all and (max-width: 1024px) {
    padding-top: 60px;
  }
  @media all and (max-width: 500px) {
    padding-right: 17px;
    padding-left: 17px;
  }
  &__title{
    position: relative;
    margin-left: 55px;
    z-index: 2;
    @media all and (max-width: 1024px) {
      margin-left: 0;
    }
  }
  &__subtitle{
    position: absolute;
    top: -53px;
    left: -5px;
    font-size: 10rem;
    line-height: 12.2rem;
    z-index: -1;
  }
  &__slide{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 183vw * $px;
    @media all and (max-width: 1024px) {
      height: 150px;
    }
    @media all and (max-width: 500px) {
      border-radius: 3px;
      min-height: 84px;
      height: 84vw * $pxm;
    }
  }
  &__container{
    width: calc(100% - 140px);
    margin-top: 38px;
    @media all and (max-width: 1024px) {
      margin: 20px 0 0 0 ;
      width: 100%;
    }
    @media all and (max-width: 500px) {
      margin: 20px 0 0 0 ;
    }
  }
  .services__navigation{
    padding: 0;
    margin: -100vw * $px auto 150vw * $px auto;
    @media all and (max-width: 1024px) {
     display: none;
    }
  }
}