<div class="category-page category-section container">
    <div class="category-section__title title-section">
        Для бань и саун
        <div class="category-section__subtitle title-bg">
            Для бань и саун
        </div>
    </div>
    <div class="category-section__list">
        <div class="category-section__wrapper">
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_1.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Дровяные печи для бани
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_2.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Электрокаменки для саун
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_3.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Пульт управления для элекрокаменок
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_4.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Двери для бани
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_5.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Камни для банных печей
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_6.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Оборудования и комплектующие
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_7.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Брус и вагонка
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_8.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Освещение
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_9.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Аксессуары
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_10.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Отделочные и дополнительные материалы
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_11.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Гималайская соль
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_12.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Купели
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_11.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Гималайская соль
                </div>
            </a>
            <a href="single-product.html" class="category-section__item">
                <div class="category-section__img">
                    <div class="category-section__img-item" style="background-image: url(assets/images/category_12.jpg)">
                    </div>
                </div>
                <div class="category-section__content">
                    Купели
                </div>
            </a>
        </div>
    </div>
</div>