<div class="category-rec container">
    <div class="category-rec__title title-section">
        Рекомендации по выбору
        <div class="category-rec__subtitle title-bg">
            Рекомендации по выбору
        </div>
    </div>
    <div class="category-rec__container">
        <div class="category-rec__image">
            <img src="assets/images/rec-image.jpg" alt="">
        </div>
        <div class="category-rec__desc">
            <div class="category-rec__tabs">
                <div class="category-rec__tabs-item device active">
                    <span>Оборудование</span>
                </div>
                <div class="category-rec__tabs-item news">
                    <span>Новости</span>
                </div>
                <div class="category-rec__tabs-item video">
                    <span>Видеообзор</span>
                </div>
            </div>
            <div class="category-rec__tabs-container ">
                <div class="container-device container-item active">
                    <p>DEVICE
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                    <a href="" class="container-item-lnk">Читать</a>
                </div>
                <div class="container-news container-item">
                    <p>NEWS
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.</p>
                </div>
                <div class="container-video container-item">
                    <video width="400" height="300" controls="controls" data-video="video/videoplayback.mp4">
                        <!--                <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>-->
                        <source src="" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                        <!--                <source src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"'>-->
                        Тег video не поддерживается вашим браузером.
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>