<div class="category-sorted__container swiper-container container">
    <div class="category-sorted__wrapper swiper-wrapper">
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="category-sorted__item swiper-slide">
            <div class="category-sorted__item-img" style="background-image: url(assets/images/category_1.jpg)">

            </div>
            <div class="category-sorted__item-cont">
                <div class="subtitle">
                    Теплодар
                </div>
                <div class="title">
                    Дровяная печь для бани и сауны Теплодар Русь 9 ЛУ
                </div>
                <div class="cont-desc">
                    <div class="price">
                        <span>Рекомендованая цена</span>
                        <span class="price-value">300 437 грн.</span>
                    </div>
                    <img src="assets/images/rec-icon.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
