<div class="about-company container">
    <div class="about-company__devider">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="about-company__wrapper">
        <div class="about-company__desc">
            <div class="about-company__title title-section">
                О компании
                <div class="about-company__subtitle title-bg">
                    О компании
                </div>
            </div>
            <div class="about-company__content">
                <p><strong>МЫ - ТЕРМИКС «Термикс Украина»</strong> - лидирующий оптовый поставщик
                    оборудования и аксессуаров для бани, сауны, хаммама, и отопления.
                    Более 20-ти лет успешного опыта работы с партнерами и производителями,
                    штат профессионалов своего дела.</p>

                <p>Мы - эксклюзивный представитель компаний Теплодар, <b>Tulikivi</b>,
                    HS Flamingo и официальный дистрибьютор известных брендов <i>WEDI,
                    Helo&Kastor, RoHol, NORDMANN ENGINEERING и Cariitti</i> и других ТМ.</p>

                <p>Особого внимания заслуживают собственные торговые марки: GREUS и
                    <u>Ecoflame</u>, качество которых выше цены. Компания разработала план по
                    расширению ассортимента и каждый год радует новым эксклюзивным оборудованием
                    и аксессуарам для бани и сауны. Наши надежные партнеры и диллеры работают
                    во всех регионах страны и за ее пределами.</p>
            </div>
        </div>
        <div class="about-company__video">
            <video width="400" height="300" controls="controls" data-video="video/videoplayback.mp4">
                <!--                <source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>-->
                <source src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <!--                <source src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"'>-->
                Тег video не поддерживается вашим браузером.
            </video>
            <div class="about-company__video-cover" style="background-image: url(assets/images/cover-termix.jpg)">
                <svg width="150" height="150" viewBox="0 0 150 150" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M109 74.5C109 94.1061 93.1061 110 73.5 110C53.8939 110 38 94.1061 38 74.5C38 54.8939 53.8939 39 73.5 39C93.1061 39 109 54.8939 109 74.5Z" fill="#F4A343" fill-opacity="0.4"/>
                    <path d="M124 75C124 102.614 101.614 125 74 125C46.3858 125 24 102.614 24 75C24 47.3858 46.3858 25 74 25C101.614 25 124 47.3858 124 75Z" fill="url(#paint0_radial2)" fill-opacity="0.5"/>
                    <g filter="url(#filter0_d2)">
                        <path d="M49 74C49 60.1929 60.1929 49 74 49C87.8071 49 99 60.1929 99 74C99 87.8071 87.8071 99 74 99C60.1929 99 49 87.8071 49 74Z" fill="white"/>
                    </g>
                    <path d="M77.596 74.6973L71.233 78.3893C70.693 78.7023 70 78.3233 70 77.6923V70.3083C70 69.6783 70.692 69.2983 71.233 69.6123L77.596 73.3043C77.7188 73.3745 77.8209 73.4758 77.892 73.5982C77.963 73.7205 78.0004 73.8594 78.0004 74.0008C78.0004 74.1423 77.963 74.2812 77.892 74.4035C77.8209 74.5259 77.7188 74.6272 77.596 74.6973Z" fill="#F4A343"/>
                    <defs>
                        <filter id="filter0_d2" x="0" y="0" width="150" height="150">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                            <feOffset dx="1" dy="1"/>
                            <feGaussianBlur stdDeviation="25"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                        </filter>
                        <radialGradient id="paint0_radial2" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(74 75) rotate(90) scale(99)">
                            <stop stop-color="#F4A343"/>
                            <stop offset="1" stop-color="#F4A343" stop-opacity="0"/>
                        </radialGradient>
                    </defs>
                </svg>
            </div>
        </div>
    </div>
    <div class="about-company__slider swiper-container">
        <div class="about-company__item swiper-wrapper">
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-1.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>20 лет работы</span>
                    На рынке
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-2.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>Патрнерство с 40</span>
                    Компаниями-
                    производителями по всему миру
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-3.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>Более 1000</span>
                    Наименований
                    продукции
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-4.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>Собственный</span>
                    Сервисный центр
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-5.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>Собственные складские помещения</span>
                    Обеспечивают постоянное наличие товара
                </div>
            </div>
            <div class="about-company__slide swiper-slide">
                <div class="slide-icon">
                    <img src="assets/images/about-icon-6.svg" alt="">
                </div>
                <div class="slide-text">
                    <span>Более 250</span>
                    Партнеров-диллеров по Украине
                </div>
            </div>
        </div>
    </div>
</div>