<div class="category">
    <div class="category__wrapper container">
        <div class="category__title title-section">
            Категории товаров
        </div>
        <div class="category__title-bg title-bg">
            Категории товаров
        </div>
        <ul class="category__list">
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_1.jpg)"></div>
                    </div>
                    <div class="category__item-title">
                        Оборудование для бани и сауны
                    </div>
                </a>
            </li>
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_2.jpg)"></div>
                    </div>
                    <div class="category__item-title">
                        Оборудование для хамама
                    </div>
                </a>
            </li>
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_3.jpg)"></div>
                    </div>
                    <div class="category__item-title">
                        Отопительное оборудование
                    </div>
                </a>
            </li>
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_4.jpg)"></div>
                    </div>
                    <div class="category__item-title">
                        Дымоходы
                    </div>
                </a>
            </li>
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_5.jpg)"></div>
                    </div>
                    <div class="category__item-title">
                        Товары для дома и интерьера
                    </div>
                </a>
            </li>
            <li class="category__item">
                <a href="" class="category__lnk">
                    <div class="category__item-image">
                        <div class="category__item-hover" style="background-image: url(assets/images/cat_6.png)"></div>
                    </div>
                    <div class="category__item-title">
                        Акции и скидки
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="category__rec container">
        <div class="category__rec-list">
            <div class="category__rec-item">
                <div class="category__rec-desc">
                    <div class="category__rec-subtitle">
                        Скидки до 50% вест август!
                    </div>
                    <div class="category__rec-title">
                        Все что нужно для похода в баню
                    </div>
                    <a href="" class="category__rec-lnk">
                        <span>Подробнее</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <div class="category__rec-image">
                    <img src="assets/images/rec_1.png">
                </div>
            </div>
            <div class="category__rec-item">
                <div class="category__rec-desc">
                    <div class="category__rec-subtitle">
                        Скидки до 50% на тепло!
                    </div>
                    <div class="category__rec-title">
                        Дарим возможность не думать о холоде
                    </div>
                    <a href="" class="category__rec-lnk">
                        <span>Подробнее</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <div class="category__rec-image">
                    <img src="assets/images/rec_2.png">
                </div>
            </div>
        </div>
        <a class="category__rec-all" href="">В каталог</a>
    </div>
</div>