<div class="partner container" style="background-image: url(assets/images/partner-bg.jpg)">
    <div class="partner__header">
        <div class="partner__title title-section">
            Стань нашим партнером
            <div class="title-bg">
                Стань нашим партнером
            </div>
        </div>
        <div class="partner__subtitle">
            Основным принципом работы с партнерами является сотрудничество на взаимовыгодной основе.
            А именно: развитие компетенции партнеров и использование накопленных знаний и
            опыта партнеров для построения долгосрочных отношений.
        </div>
    </div>
    <div class="partner__content swiper-container">
        <div class="partner__wrapper swiper-wrapper">
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_1.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Рост доходов вашего бизнеса
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_2.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Обучение вашего персонала
                    и рекламная поддержка
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_3.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Удобная откгрузка
                    в день заказа
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_4.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Наличие товара и
                    запчастей на складе
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_5.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Прозрачная накопительная
                    система скидок
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_6.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Сервисное обслуживание
                    и тех поддержка
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_7.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Широкий ассортимент
                    качественной продукции
                </div>
            </div>
            <div class="partner__slide swiper-slide">
                <div class="partner__icon">
                    <img src="assets/images/partner-icon_8.svg" alt="">
                </div>
                <div class="partner__itm-title">
                    Персональный менеджер
                </div>
            </div>
        </div>
    </div>
    <a class="partner__lnk" href="#">Стать партнером</a>
</div>