<div class="main-slider container">
    <div class="main-slider__list">
        <div class="main-slider__slide" style="background-image: url('assets/images/top_slider_1.jpg')">
            <div class="main-slider__subtitle">Удобный сервис по подбору и установке оборудования в любой точке Украины</div>
            <div class="main-slider__title">Сервис по подбору оборудования и строительству Wellness объектов в любой точке Украины</div>
<!--            <a href="#" class="main-slider__detail">-->
<!--                <span>Подробнее</span>-->
<!--                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>-->
<!--                </svg>-->
<!--            </a>-->
        </div>
        <div class="main-slider__slide" style="background-image: url('assets/images/top_slider_2.jpg')">
            <div class="main-slider__subtitle">Скидки 30% весь август!</div>
            <div class="main-slider__title white">Все что нужно для похода в баню</div>
            <a href="#" class="main-slider__detail white">
                <span>Подробнее</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
                </svg>
            </a>
        </div>
        <div class="main-slider__slide" style="background-image: url('assets/images/top_slider_3.jpg')">
            <div class="main-slider__subtitle">Скидки до 50% на тепло!</div>
            <div class="main-slider__title black">Дарим возможжность не думать о холоде</div>
            <a href="#" class="main-slider__detail black">
                <span>Подробнее</span>
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
                </svg>
            </a>
        </div>

    </div>
    <div class="main-slider__buttons">
        <a class="main-slider__products"  href="#">
            <span>Каталог товаров</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
            </svg>
        </a>
        <a class="main-slider__services"  href="#">
            <span>Услуги</span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.29297 7.70703L13.586 12L9.29297 16.293L10.707 17.707L16.414 12L10.707 6.29303L9.29297 7.70703Z" fill="white"/>
            </svg>
        </a>
    </div>
</div>