.cooperation-conditions{
  padding-right: 40px;
  &__title{
    font-size: 20px;
    line-height: 24px;
    font-family: ProximaNova-Bold;
    color: #33353D;
    margin-top: 50px;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  &__description{
    font-size: 1.6rem;
    line-height: 150%;
    color: #828282;
  }
  &__brick{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 25px;
    &-item{
      width: calc(100% / 3);
      padding: 10px 35px 10px 50px;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      .image{
        margin-right: 20px;
      }
      span{
        font-family: Roboto-Bold;
        color: #4F4F4F;
        font-size: 1.4rem;
        line-height: 150%;
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(4){
        border-right: 1px solid #DBDBDB;
      }
      &:nth-child(4), &:nth-child(5){
        width: 50%;
        border-top: 1px solid #DBDBDB;
        padding-top: 20px;
      }
      &:first-child{
        padding-left: 0;
      }
      &:nth-child(4){
        justify-content: flex-end;
      }
    }
  }
  &__dealer{
    margin-top: 25px;
  }
  &__dealer-header{
    background-color: $orange-color;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: ProximaNova-Bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    position: relative;
  }
  &__dealer-content{
    margin-top: -10px;
    background-color: #F9F9F9;
    padding: 43px 40px 20px 40px;
    margin-bottom: 50px;
  }
  &__dealer-desc{
    font-size: 1.6rem;
    line-height: 150%;
    text-align: justify;
    color: #828282;
  }
  &__dealer-list{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  &__dealer-item{
    width: 50%;
    margin: 25px 0;
    display: flex;
    align-items: center;
    img{
      margin-right: 20px;
    }
    span{
      font-size: 1.6rem;
      line-height: 150%;
      color: #4F4F4F;
      font-family: ProximaNova-Bold;
    }
  }
  &__dealer-form{
    background-color: #F4A343;
    border-radius: 10px;
    padding: 30px 20px 30px 20px;
    margin-bottom: 20px;
    .form-title{
      font-size: 2rem;
      line-height: 130%;
      color: #4F4F4F;
      font-family: ProximaNova-Bold;
      margin-bottom: 20px;
    }
    .form-subtitle{
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #4F4F4F;
      margin-bottom: 40px;
    }
    form{
      display: flex;
      justify-content: center;
      input{
        height: 56px;
        width: 300vw * $px;
        max-width: 300px;
        border: none;
        box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 3px;
        margin-right: 20px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #AAA3A3;
        &::placeholder{
          font-size: 1.6rem;
          line-height: 1.9rem;
          color: #AAA3A3;
        }
      }
      button{
        display: flex;
        width: 300vw * $px;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #33353D;
        border-radius: 3px;
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: ProximaNova-Bold;
        flex: 1;
        color: #FFFFFF;
        margin-left: 20px;
      }
    }
  }
}