<div class="type-services container">
    <div class="type-services__list">
        <div class="type-services__item">
            <div class="type-services__icon-cont">
                <div class="type-services__icon">
                    <img src="assets/images/type-service-1.svg" alt="">
                </div>
            </div>
            <div class="type-services__title">
                <span>Помощь квалифицированных специалистов</span>
            </div>
        </div>
        <div class="type-services__item">
            <div class="type-services__icon-cont">
                <div class="type-services__icon">
                    <img src="assets/images/type-service-2.svg" alt="">
                </div>
            </div>
            <div class="type-services__title">
                <span>Широкий асортимент оборудования</span>
            </div>
        </div>
        <div class="type-services__item">
            <div class="type-services__icon-cont">
                <div class="type-services__icon">
                    <img src="assets/images/type-service-3.svg" alt="">
                </div>
            </div>
            <div class="type-services__title">
                <span>Строительство и проектирование</span>
            </div>
        </div>
        <div class="type-services__item">
            <div class="type-services__icon-cont">
                <div class="type-services__icon">
                    <img src="assets/images/type-service-4.svg" alt="">
                </div>
            </div>
            <div class="type-services__title">
                <span>Монтаж и сервис оборудования</span>
            </div>
        </div>
    </div>
</div>