<ul class="under-navigate__list">
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="about-page.html">О нас</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Доставка и оплата</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Гарантии</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="cooperation.html">Партнерство</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Поиск дилера</a>
    </li>
    <li class="under-navigate__item">
        <a href="service-center.html" class="under-navigate__item-lnk">Сервисный центр</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Отзывы</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Новости</a>
    </li>
    <li class="under-navigate__item">
        <a class="under-navigate__item-lnk" href="#">Контакты</a>
    </li>
</ul>